/*gastrononia*/
.category-friuli-eat
  background-color: rgba(116, 170, 126, 0.5)

  .entry-header
    border-bottom: 4px solid rgba(116, 170, 126, 0.5)

  .header-category
    background-image: url(img/copertine/friuli-eat.jpg)

  .img-category-post.friuli-eat
    background-image: url("img/svg/Friuli-eat-piccola.svg")

  .section-cont-article article header .friuli-eat.img-article-post
    background-image: url("img/svg/Friuli-eat-piccola.svg")

  .section-cont-article article header .category-friuli-eat .friuli-eat.img-article-post
    background-image: url("img/svg/Friuli-eat-piccola.svg")

  .cerchio-logo-page
    background-image: url("img/svg/Friuli-eat-grande.svg")

  .site-header.headroom--not-top
    border-bottom: 5px solid rgba(116, 170, 126, 0.5)

    .cerchio-logo
      border: 5px solid rgba(116, 170, 126, 0.5)

  .footer-card
    border-color: rgba(116, 170, 126, 0.5)

.cerchio-friuli-eat
  background-color: rgba(116, 170, 126, 0.5)
  background-image: url("img/svg/Friuli-eat-piccola.svg")

/*book-life*/
.category-book-life
  background-color: rgba(226, 199, 113, 0.5)

  .entry-header
    border-bottom: 4px solid rgba(226, 199, 113, 0.5)

  .header-category
    background-image: url(img/copertine/book-life.jpg)

  .img-category-post.book-life
    background-image: url("img/svg/book-life-piccola.svg")

  .section-cont-article article header .book-life.img-article-post
    background-image: url("img/svg/book-life-piccola.svg")

  .section-cont-article article header .category-book-life .book-life.img-article-post
    background-image: url("img/svg/book-life-piccola.svg")

  .cerchio-logo-page
    background-image: url("img/svg/book-life-grande.svg")

  .site-header.headroom--not-top
    border-bottom: 5px solid rgba(226, 199, 113, 0.5)

    .cerchio-logo
      border: 5px solid rgba(226, 199, 113, 0.5)

  .footer-card
    border-color: rgba(226, 199, 113, 0.5)

.cerchio-book-life
  background-color: rgba(226, 199, 113, 0.5)
  background-image: url("img/svg/book-life-piccola.svg")

/*voli-sul-territorio*/
.category-voli-sul-territorio
  background-color: rgba(178, 107, 129, 0.5)

  .entry-header
    border-bottom: 4px solid rgba(178, 107, 129, 0.5)

  .header-category
    background-image: url(img/copertine/voli.jpg)

  .img-category-post.voli-sul-territorio
    background-image: url("img/svg/voli-territorio-piccola.svg")

  .section-cont-article article header .voli-sul-territorio.img-article-post
    background-image: url("img/svg/voli-territorio-piccola.svg")

  .section-cont-article article header .svg .category-voli-sul-territorio .voli-sul-territorio.img-article-post
    background-image: url("img/svg/voli-territorio-piccola.svg")

  .cerchio-logo-page
    background-image: url("img/svg/voli-territorio-grande.svg")

    .site-header.headroom--not-top
      border-bottom: 5px solid rgba(178, 107, 129, 0.5)

      .cerchio-logo
        border: 5px solid rgba(178, 107, 129, 0.5)

  .footer-card
    border-color: rgba(178, 107, 129, 0.5)

.cerchio-voli-sul-territorio
  background-color: rgba(178, 107, 129, 0.5)
  background-image: url("img/svg/voli-territorio-piccola.svg")

/*pausa caffè*/
.category-pausa-caffe
  background-color: rgba(97, 152, 155, 0.5)

  .entry-header
    border-bottom: 4px solid rgba(97, 152, 155, 0.5)

  .header-category
    background-image: url(img/copertine/pausa-caffe.jpg)

  .img-category-post.pausa-caffe
    background-image: url("img/svg/paussa-caffe-piccola.svg")

  .section-cont-article article header .pausa-caffe.img-article-post
    background-image: url("img/svg/paussa-caffe-piccola.svg")

  .section-cont-article article header .category-pausa-caffe .pausa-caffe.img-article-post
    background-image: url("img/svg/paussa-caffe-piccola.svg")

  .cerchio-logo-page
    background-image: url("img/svg/paussa-caffe-grande.svg")

    .site-header.headroom--not-top
      border-bottom: 5px solid rgba(97, 152, 155, 0.5)

      .cerchio-logo
        border: 5px solid rgba(97, 152, 155, 0.5)

  .footer-card
    border-color: rgba(97, 152, 155, 0.5)

.cerchio-pausa-caffe
  background-color: rgba(97, 152, 155, 0.5)
  background-image: url("img/svg/paussa-caffe-piccola.svg")

/*cultura*/
.category-cultura
  background-color: rgba(242, 70, 70, 0.5)

  .entry-header
    border-bottom: 4px solid rgba(242, 70, 70, 0.5)

  .header-category
    background-image: url(img/copertine/cultura.jpg)

  .img-category-post.cultura
    background-image: url("img/svg/icon-cultura-piccola.svg")

  .svg .category-cultura .section-cont-article article header .cultura.img-article-post
    background-image: url("img/svg/icon-cultura-piccola.svg")

  .section-cont-article article header .category-cultura .cultura.img-article-post
    background-image: url("img/svg/icon-cultura-piccola.svg")

  .cerchio-logo-page
    background-image: url("img/svg/icon-cultura-grande.svg")

  .site-header.headroom--not-top
    border-bottom: 5px solid rgba(242, 70, 70, 0.5)

    .cerchio-logo
      border: 5px solid rgba(242, 70, 70, 0.5)

  .footer-card
    border-color: rgba(242, 70, 70, 0.5)

.cerchio-cultura
  background-color: rgba(242, 70, 70, 0.5)
  background-image: url("img/svg/icon-cultura-piccola.svg")

/*Radici nel tempo*/
.category-radici-nel-tempo
  background-color: rgba(128, 136, 137, 0.5)

  .entry-header
    border-bottom: 4px solid rgba(128, 136, 137, 0.5)

  .header-category
    background-image: url(img/copertine/radici-nel-tempo.jpg)

  .img-category-post.radici-nel-tempo
    background-image: url("img/svg/radici-nel-tempo-piccola.svg")

  .section-cont-article article header .radici-nel-tempo.img-article-post
    background-image: url("img/svg/radici-nel-tempo-piccola.svg")

  .section-cont-article article header .category-radici-nel-tempo .radici-nel-tempo.img-article-post
    background-image: url("img/svg/radici-nel-tempo-piccola.svg")

  .cerchio-logo-page
    background-image: url("img/svg/radici-nel-tempo-grande.svg")

  .site-header.headroom--not-top
    border-bottom: 5px solid rgba(128, 136, 137, 0.5)

    .cerchio-logo
      border: 5px solid rgba(128, 136, 137, 0.5)

  .footer-card
    border-color: rgba(128, 136, 137, 0.5)

.cerchio-radici-nel-tempo
  background-color: rgba(128, 136, 137, 0.5)
  background-image: url("img/svg/radici-nel-tempo-piccola.svg")

/*eventi*/
.category-eventi
  background-color: rgba(204, 124, 216, 0.5)

  .entry-header
    border-bottom: 4px solid rgba(204, 124, 216, 0.5)

  .header-category
    background-image: url(img/copertine/eventi.jpg)

  .img-category-post.eventi
    background-image: url("img/svg/icon-eventi-piccola.svg")

  .section-cont-article article header .eventi.img-article-post
     background-image: url("img/svg/icon-eventi-piccola.svg")

  .section-cont-article article header .category-eventi .eventi.img-article-post
    background-image: url("img/svg/icon-eventi-piccola.svg")

  .cerchio-logo-page
    background-image: url("img/svg/icon-eventi-piccola.svg")

  .site-header.headroom--not-top
    border-bottom: 5px solid rgba(204, 124, 216, 0.5)

    .cerchio-logo
      border: 5px solid rgba(204, 124, 216, 0.5)

  .footer-card
    border-color: rgba(204, 124, 216, 0.5)

.cerchio-eventi
  background-color: rgba(204, 124, 216, 0.5)
  background-image: url("img/svg/icon-eventi-piccola.svg")
