/* button - elementi*/
button, input[type="button"], input[type="reset"], input[type="submit"], .button
  padding: 5px 10px
  border-radius: 50px
  border: none
  margin: 0 auto
  display: block
  background-color: #DDDDDD
  color: rgba(0, 0, 0, 0.5)
  text-transform: lowercase
  font-size: 16px
  letter-spacing: 0.2px
  font-weight: normal
  margin-top: 15px


button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover
  color: #40484C
