<!-- footer -->
<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="site-info content-footer">
    <div class="col-footer-4 footer-liste">
      <span>Città</span>
        <ul>
          <li>
            <a href="http://www.loppure.it/sezione/pordenone/" title="Scopri la città Pordenone">Pordenone</a>
          </li>
          <li>
            <a href="http://www.loppure.it/sezione/udine/" title="Scopri la città Udine">Udine</a>
          </li>
          <li>
            <a href="http://www.loppure.it/sezione/trieste" title="Scopri la città Trieste">Trieste</a>
          </li>
          <li>
            <a href="http://www.loppure.it/sezione/gorizia" title="Scopri la città Gorizia">Gorizia</a>
          </li>
        </ul>
      <span>Rubriche</span>
        <ul>
          <li>
            <a href="#" title="Scopri la rubrica Friuli eat">Friuli eat</a>
          </li>
          <li>
            <a href="#" title="Scopri la rubrica Voli sul territorio">Voli sul territorio</a>
          </li>
          <li>
            <a href="#" title="Scopri la rubrica Radici nel tempo">Radici nel tempo</a>
          </li>
          <li>
            <a href="#" title="Scopri la rubrica Pausa caffè">Pausa caffè</a>
          </li>
          <li>
            <a href="#" title="Scopri la rubrica Book life">Book life</a>
          </li>
        </ul>
    </div>
    <div class="col-footer-4 footer-documenti">
      <span>© copyright 2016 - Associazione L'oppure</span>
      <p>
        <a href="#" title="Pagina documenti associazione"> Documenti associazione</a></br>
        <a href="#" title="Mappa del sito">Site map</a></br>
        <a href="#" title="Pagina dedicata all'informativa">Informativa cookie</a></br>
      </p>
    </div>
    <div class="col-footer-4 footer-contatti">
      <span>Contatti</span>
      <p>Se vuoi contattare l'associzione L'oppure
        <a href="mailto:info@loppure.it?Subject=Richiesta%20di%20informazioni" title="Contatta l'associazione">info@loppure.it</a>.</br>
        Se vuoi mandare un comunicato stampa
        <a href="mailto:stampa@loppure.it" title="Mail ufficio stampa stampa">stampa@loppure.it</a>.</br>
        Se vuoi segnalare un problema nel sito
        <a href="mailto:assistenza@loppure.it?Subject=Segnalo%20un%20problema%20sul%20sito" title="Segnala un problema nel sito">assistenza@loppure.it</a>.
      </p>
    </div>
    <div class="col-footer-4">
      <span>Seguci</span>
        <ul class="list-social">
          <li>
            <a href="#" title="Segui L'oppure su Facebook" target="_blank"></a>
          </li>
          <li>
            <a href="#" title="Segui L'oppure su Twitter" target="_blank"></a>
          </li>
          <li>
            <a href="#" title="Segui L'oppure su Instagram" target="_blank"></a>
          </li>
          <li>
            <a href="#" title="Segui L'oppure su Telegram" target="_blank"></a>
          </li>
        </ul>
      <span>@LoppureIT</span>
    </div>
	</div><!-- .site-info -->
</footer>
