<!-- header -->
<header id="masthead" class="site-header" role="banner">
    <div class="header-wrapper">
        <div class="site-branding">

          <div class="nascondi-cerchio">
          </div>
          <div class="cerchio-logo">

            <a href="http://www.loppure.it/" rel="home">
                <img alt="logo L&#039;oppure" src="http://www.loppure.it/wp-content/themes/loppure-it-theme/img/logobianco.svg">
            </a>
          </div>
        </div>

        <!-- menu -->
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"></button>

            <div class="main-menu">
              <ul id="primary-menu" class="menu-list">
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                  <a href="http://www.loppure.it/">
                    <span>Home</span>
                  </a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                  <a href="http://www.loppure.it/chi-siamo/">
                    <span>Chi Siamo</span>
                  </a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                  <a href="http://www.loppure.it/contatti/">
                    <span>Contatti</span></a>
                  </li>
                </ul>

                <a type="button" href="#" target="_blank">Iscriviti</a>
              </div>
        </nav>
        <!-- end menu -->

    </div>
</header>
<!-- end header -->
<!-- simbolo e copertina -->
<section>
  <div class="img-header img-facciamo">
  </div>
  <div class="barra-nome-pagina color-facciamo">
    <h1>Unisciti a noi</h1>
</section>
<div class="cerchio-logo-page logo-faccamo"></div>
<!-- end simbolo e copertina -->
