{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entra dentro L'oppure</h1>
    <h6>iscrizione per diventare socio dell'associazione</h6>

    <div class="contenitor-presentazione">
      
    </div>

    <div>
      <p>
        Il presente modulo costituisce domanda di iscrizione all'Associazione Culturale "L'oppure". <br/>
        I dati personali e sensibili saranno trattati nel rispetto del d.lgs. 196/03, per gli scopi previsti
        dallo Statuto associativo. Titolare del trattamento è il Consiglio Direttivo dell'Associazione "L'oppure".
      </p>
    </div>
    {% form_theme form 'form/fields.html.twig' %}

    {{ form_errors(form) }} {# renderizza gli errori! #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Invia</button>
    {{ form_end(form) }}
{% endblock %}
