{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grazie</h1>

    <hr />

    {% if app.environment == 'dev' %}
        {{ dump(status) }}
        {{ dump(payment) }}
    {% endif %}
{% endblock %}
