/* card-overlay . ovarlay - elementi*/

/* card-overlay-image*/
.loppure_image, .post {
  width: 450px;
  background-color: #F4F4F4;
}
.loppure_image figure, .post figure {
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loppure_image .img-post, .post .img-post {
  height: 200px;
  width: 100%;
}
