/*!
Theme Name: L'oppure - Framework
Theme URI: http://www.loppure.it
Author: Omar Polo, Luca Bortolusso, Mattia Carbone
Author URI: http://www.loppure.it
Description: sotto dominio dedicato alle iscrizioni de L'oppure
Version: 0.0.5
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: loppure-it-theme
*/

// importa la libreria
// documentazione: http://kouto-swiss.io/docs.html
@import "kouto-swiss"

// reset.css
meyer-reset()
// oppure normalize:
// normalize()

box-sizing-reset()

// go stile
@import "header"
@import "menu"
@import "scheletro"

@import "elementi/form"

@import "colori-icone/categorie"
@import "colori-icone/citta"
@import "colori-icone/pagine"
@import "colori-icone/icone"

@import "sotto-domini/iscriviti/scheletro"

@import "footer"
