/* body - scheletro*/

html
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

body
  margin: 0
  padding: 0
  background-color: #F4F4F4

html, body
  min-height: 100%;

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary
  display: block

div, section
  height: auto;
  display: block;
  overflow: hidden;

/* page-gray - scheletro*/
.page-gray
  clear: both
  background-color: grigio-intermedio
  padding: 40px 30px
  margin-top: -145px

  @media (max-width: max)
    padding: 40px 10px

  @media (max-width: 519px) /*da capire */
    margin-top: -120px
    padding: 20px 10px

  @media (max-width: 349px)
    padding: 20px 5px

  p
    width: 100%
    color: rgba(0, 0, 0, 0.5)
    text-align: justify
    padding: 0 20px

/*blocchi - scheletro */
.blocchi-dati-4
  width: 23%
  height: 200px
  float: left
  margin: 0 1%
  margin-top: 2rem
  margin-bottom: 2rem
  background-color: #fff
  -webkit-box-shadow: ombra-normale
  -moz-box-shadow: ombra-normale
  box-shadow: ombra-normale

/*site-content - scheletro*/
.site
  height: 90%

.site-content
  margin: 0 auto
  padding-top: 80px
  width: 100%
  max-width: 1200px
  min-height: 100%

  @media (max-width: max)
    width: 95%
    max-width: 100%

  @media (max-width: medium)
    width: 100%
    max-width: 100%


/* colonne */
.page-gray .two_coll-left
  float: left
  display: block
  margin-right: 0.57917%
  width: 49.71041%
  float: left
  width: 48.5%

  &:last-child
    margin-right: 0

    @media (max-width: 719px)
      margin-right: 0;

  @media (max-width: 719px)
    float: left
    display: block
    margin-right: 0.57917%
    width: 100%

.page-gray .two_coll-right
  float: left
  display: block
  margin-right: 0.57917%
  width: 49.71041%
  float: right
  width: 48.5%
  margin-right: 0

  &:last-child
    margin-right: 0

    @media (max-width: 719px)
      margin-right: 0;

  @media (max-width: 719px)
    float: left
    display: block
    margin-right: 0.57917%
    width: 100%
