/*page - sidebar*/
.page-gray
  max-width: 100%
  margin-left: auto
  margin-right: auto
  position: relative

  &::after
    clear: both
    content: ""
    display: table

  .sidebar-1
    float: left
    display: block
    margin-right: 0.57917%
    width: 18.27942%
    float: left
    width: 18%

    &:last-child
      margin-right: 0

    @media (max-width: 959px)
      width: 20%

    @media (max-width: 719px)
      float: left
      display: block
      margin-right: 0.57917%
      width: 100%

  .section-cont-article
    float: left
    display: block
    margin-right: 0.57917%
    width: 53.90121%
    margin-right: 1%
    margin-left: 1%

    &:last-child
      margin-right: 0

    @media (max-width: 959px)
      margin-right: 0
      margin-left: 0.7%

    @media (max-width: 799px)
      margin-right: 0
      width: 54.5%

    @media (max-width: 719px)
      float: left
      display: block
      margin-right: 0.57917%
      width: 100%

  .sidebar-2
    float: left
    display: block
    margin-right: 0.57917%
    width: 24.56562%
    float: right

    @media (max-width: 959px)
      float: left
      display: block
      margin-right: 0.57917%
      width: 22.47022%
      float: right
      margin-left: 0.7%

    @media (max-width: 719px)
      float: left
      display: block
      margin-right: 0.57917%
      width: 100%
      margin: 0

    &:last-child
      margin-right: 0

      @media (max-width: 959px)
        margin-right: 0

      @media (max-width: 719px)
        margin-right: 0;

/* widget - sidebar*/
.widget
  margin: 0

  div
    margin: 0 auto
    background-position: center
    background-repeat: no-repeat
    background-size: cover

  h1
    font-size: 17px
    margin-top: 7px
    font-weight: normal
    text-align: center

    /*rovedere*/
  .icon-sidebar
    display: block
    width: 45px
    height: 45px
    margin: 10px auto 0
    border-radius: 50%
    background-size: 74%
    background-color: #DDDDDD

  .img-sezioni
    background-size: 120%
    background-position: 50% 14%

  .gray-slim
    background-color: #F4F4F4;
    clear: both

/*sidebar-1 sidebar-2 - sidebar */
/*rivedere*/
.sidebar-1 .gray-slim, .sidebar-1 .timeline
  max-width: 157px
  width: 100%
  height: 253px
  margin: 0
  float: left
  margin-bottom: 10px

  @media (max-width: 719px)
    float: left
    display: block
    clear: none
    width: 47.61501%
    max-width: 450px
    height: 285px
    padding: 10px
    margin-right: 0
    margin: 0 auto
    margin-bottom: 20px

  @media (max-width: 349px)
    float: left
    display: block
    margin-right: 0.57917%
    width: 100%
    margin-bottom: 15px

  &:last-child
    @media (max-width: 719px)
      margin: 0 auto
      margin-bottom: 20px

    @media (max-width: 349px)
      margin-right: 0

.sidebar-1
  @media (max-width: 719px)
    float: left
    display: block
    margin-right: 0.57917%
    width: 100%

  &:last-child
    margin-right: 0

  .timeline
    @media (max-width: 719px)
      float: left

  .gray-slim
    @media (max-width: 719px)
      float: right

.sidebar-2 .gray-slim
  max-width: 230px
  height: 165px
  float: right
  margin: 0
  padding-top: 20px
  margin-bottom: 10px

  @media (max-width: 719px)
    float: none
    max-width: 450px
    margin: 0 auto
    margin-bottom: 10px

/*sidebar-single - sidebar */
.single
  .sidebar-single
    float: left
    display: block
    margin-right: 0.57917%
    width: 30.85182%
    float: right
    margin-right: 20px

    @media (max-width: 719px)
      float: left
      display: block
      margin-right: 38.19821%
      width: 100%

    &:last-child
      margin-right: 0

      @media (max-width: 719px)
        margin-right: 0;

    .icon-sidebar
      width: 45px
      height: 45px
      background-color: #DDDDDD
      margin: 0 auto
      margin-top: 10px
      display: block
      border-radius: 50%

    .gray-slim
      background-color: #F4F4F4
      clear: both
      margin-right: 15px
      margin-top: 20px

      h1
        margin-top: 7px
        font-size: 17px
        font-weight: normal
        text-align: center

    .widget-rubriche
      float: right
      max-width: 245px
      width: 100%
      height: 240px

      @media (max-width: 719px)
        max-width: 100%
        width: 100%
        margin: 30px auto 0
        padding: 0 15px
        float: right

      ul
        clear: both
        margin: 0 auto

      li
        clear: both
        text-align: center
        margin: 0 auto
        width: 80%
        padding: 5px 0

        a
          display: block
          padding: 5px 0
          border-bottom: 2px solid #DDDDDD
          font-size: 16px
          text-align: center
          color: rgba(0, 0, 0, 0.5)

          &:hover
            color: #40484C
            border-bottom: 2px solid rgba(0, 0, 0, 0.5)
