/* variabili */

min = 450px
smartphone = 640px
mini-tablet = 720px
medium = 960px
tablet = 1024px
max = 1200px

pordenone = #609FB2
udine = #60B571
trieste = #D78788
gorizia = #D8CD90

colore-loppure = #40484C

grigio-chiaro = #F4F4F4
grigio-intermedio = #ddd
grigio-medio = #DDDDDD
grigio-scuro = #7B7B7B

colore-errore = #E53935

ombra-normale = 1px 1px 1px 1px rgba(0, 0, 0, 0.3)
ombra-scura =  2px 2px 2px 0px rgba(0,0,0,0.5)
